#------------------
# Caches
#------------------
.cache
*.pyc
.idea
# macOS file-system supporting data
.DS_Store

.ipynb_checkpoints/
.project
.pydevproject
*~
release_images
dist/
ipy_table.egg-info/
candidate_test_vectors.json
notebooks/adopt_vectors.sh
notebooks/ipy_table-VerifyTestVectorsPython3.ipynb

# Working directory for untracked files
untracked/